#crumb_wrap {
  background: #505050;
  color: #FFFFFF;
  font-weight: bolder;
  width: 100%;
  padding: 1em;
}

#crumb_wrap a:link    { color: #FFFFFF; }
#crumb_wrap a:visited { color: #ffffff; }
#crumb_wrap a:hover   { color: #ffffff; }
#crumb_wrap a:active  { color: #ffffff; }

#main_content_wrap
{
  text-align: justify;
  text-justify: inter-word;
}

.inner {
  max-width: 1024px;
}

.logo
{
  box-shadow: none;
  border:     none;
  padding:    10px;
}
